travel_agency/orders.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ArrayList" type="ArrayListType"/>
  <xs:complexType name="clientType">
    <xs:sequence>
      <xs:element type="xs:string" name="id"/>
      <xs:element type="xs:string" name="firstName"/>
      <xs:element type="xs:string" name="lastName"/>
      <xs:element type="xs:string" name="email"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="resortType">
    <xs:sequence>
      <xs:element type="xs:string" name="id"/>
      <xs:element type="xs:string" name="name"/>
      <xs:element type="xs:string" name="stars"/>
      <xs:element type="xs:string" name="hotelName"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="itemType">
    <xs:sequence>
      <xs:element type="clientType" name="client"/>
      <xs:element type="resortType" name="resort"/>
      <xs:element type="xs:string" name="price"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="id"/>
  </xs:complexType>
  <xs:complexType name="ArrayListType">
    <xs:sequence>
      <xs:element type="itemType" name="item"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>