travel_agency/resorts.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ArrayList" type="ArrayListType"/>
  <xs:complexType name="itemType">
    <xs:sequence>
      <xs:element type="xs:string" name="id"/>
      <xs:element type="xs:string" name="name"/>
      <xs:element type="xs:string" name="stars"/>
      <xs:element type="xs:string" name="hotelName"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayListType">
    <xs:sequence>
      <xs:element type="itemType" name="item"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>